.menuitems {
    background-color: lightgray;
    border: 2px solid lightgoldenrodyellow;
    text-align: center;
    margin-bottom: -1px;
    min-height: 40px;
    padding: 10px;
}

.item{
    background-color: lightgoldenrodyellow;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 4px;
}
